:root {
  --primary: #fe6610;
  --secondary: #8b0576;
  --default: #092d76;
  --text-color-dark: white;
  --bg-color-light: #fff;
  --bg-color-dark: #292c35;
  --text-color: var(
    --default
  ); 
  --bg-color: var(--bg-color-light);
  --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.5);
  --box-shadow-dark: 0 2px 4px rgba(255, 255, 255, 0.5);
  --box-shadow: var(--box-shadow-light);
}
[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --bg-color: var(--bg-color-dark);
  --box-shadow: var(--box-shadow-dark);
}

[data-theme="light"] {
  --text-color: var(--default);
  --bg-color: var(--bg-color-light);
  --box-shadow: var(--box-shadow-light);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

nav {
  display: flex;
  justify-content: space-around;
}
.portfolioImg {
  width: 5rem;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 1.5rem;
  white-space: nowrap;
}
.toggle-btn{
    margin-top: 16px;
    margin-left: 1rem;

}
nav .mainMenu li a:hover {
  color: rgb(255, 94, 0);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fab {
  font-size: 25px;
}
.fab:hover {
  font-size: 30px;
}
.fa-github:hover {
  color: rgb(255, 123, 0);
}
.fa-linkedin:hover {
  color: rgb(0, 110, 255);
}
.fa-instagram:hover {
  color: rgb(0, 110, 255);
}
.social{
    display: flex; 
     
  }
nav .logo {
  margin: 6px;
  cursor: pointer;
}

.name {
  font-size: 38px;
  font-weight: bold;
  background: -webkit-linear-gradient(var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-me {
  color: var(--text-color);
  font-size: 34px;
  font-weight: bold;
}

.image-wrapper {
    width: 210px; /* slightly larger to accommodate the border */
    height: 210px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Circular shape */
    background: linear-gradient(to right, var(--primary, #ff0000), var(--secondary, #0000ff)); /* Gradient border */
    padding: 5px; /* Adjust the size of the gradient border here */
  }
  
  .monImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(/img/malek.jpg);
    background-position: center center;
    background-size: cover; 
    background-repeat: no-repeat;
    display: block;
  }
.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main {
  visibility: visible;
}
.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tech-stack p:first-child {
  color: var(--text-color);
  font-size: 48px;
  font-weight: bold;
}
.tech-stack p:nth-child(2) {
  color: #666666;
  font-size: 38px;
  flex-wrap: nowrap;
}
.stack-images {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  cursor: pointer;
}
.stack-images img {
  width: 70px;
  height: 70px;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects p:first-child {
  font-size: 48px;
  color: var(--text-color);
  font-weight: bold;
}
.projects p:nth-child(2) {
  color: #666666;
  font-size: 32px;
  text-transform: capitalize;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.card {
  width: 373px;
  height: 467px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--box-shadow);
}
.card img {
  width: 373px;
  height: 190px;
  border-radius: 20px 20px 0 0;
}

.card p:nth-child(2) {
  align-self: center;
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
}
.card p:nth-child(3) {
  font-size: 18px;
  padding-right: 0.75em;
  padding-left: 0.75rem;
}
.card p:nth-child(4) {
  align-self: center;
}
.card p span {
  color: var(--text-color);
  font-size: 19px;
}
.preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.live-preview {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.live-preview a {
  text-decoration: underline;
  color: var(--text-color);
}
.github-preview {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.github-preview a {
  color: var(--text-color);
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  width: 3rem;
}
.info {
  display: flex;
  gap: 4rem;
}
.social-media {
  display: flex;
  gap: 1.75rem;
}
.social-media a {
  color: var(--text-color);
}
.line {
  width: 80%;
  border: 1px solid #141414;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.foot {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.foot li a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 1.5rem;
  white-space: nowrap;
}
.foot li a:hover {
  color: var(--primary);
}

/*  Support me if you like it */
.support {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover {
  transform: scale(1.1);
}


.circle{
    align-self: center;
    width: 180px;
    height: 180px;
    background: conic-gradient(from 0deg at 50%
    50%,
    #6f7bf7 0%,
    #9bf8f4 50%,
    #101012 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 
    4px 4px 16px #000000bf,
    -4px -4px 16px #ffffff1a;
    animation: spin 1s infinite linear;
    position: absolute;
    top: 2%;
    left: 45%;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.count{

    content: " ";
    width: 174px;
    height: 174px;
    background: #1d1e22;
    position: absolute;
    top: 3px;
    left: 3px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 
    4px 4px 16px #000000bf inset,
    -4px -4px 16px #ffffff1a inset;
    font-family: sans-serif;
    font-size: 4em;
    color: white;
    font-weight: bold;
    animation: spin 1s infinite linear reverse;
}
.percent{
    font-family: sans-serif;
  
    
} 

.loader {
    position: fixed; /* ou 'absolute' selon votre structure de page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1d1e22;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assez élevé pour s'assurer qu'il est au-dessus de tout autre contenu */
  }
.lettre{
   color: var(--secondary);
    font-size: 7vw;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
.lettre:nth-child(1){
animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1.s;
}
.fondu-out{
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

@keyframes flash{
    0%{
        color: var(--primary);
        text-shadow:0 0 7px var(--primary);
    }
    90%{
        color: var(--secondary);
        text-shadow:none;
    }
    0%{
        color: var(--primary);
        text-shadow:0 0 7px var(--primary);
    }
}

@media (max-width: 800px) {
  nav {
    justify-content: space-between;
  }
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
    display: none;
  }
  .fa-bars {
    visibility: visible;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
  .introduction {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .stack-images {
    gap: 1rem;
  }
  .about-me {
    text-align: center;
  }
  .contact {
    flex-direction: column;
  }
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .foot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .circle{
    position: absolute;
    top: 2%;
    left:25%;
  }
}
